<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" >
  <Appenders>
    <RollingFile
      name="rollingFile"
      fileName="logs/jorel2.log"
      filePattern="logs/jorel2.%i.log.gz"
      ignoreExceptions="false">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="1MB" />
      </Policies>
      <DefaultRolloverStrategy max="20" />
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="Jorel2.log">
	  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
	<Logger name="ca.bc.gov.tno.jorel2.Jorel2Root" level="trace" additivity="false">
      <AppenderRef ref="rollingFile"/>
    </Logger>
  </Loggers>
</Configuration>